body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  background-color: rebeccapurple;
  width:100%;
  padding: 25px 5%;
  margin: 0 0 0;
}

.container {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}


aside {
  background: #444;
  width: 10%;
  min-width: 160px;
  min-height: 100%;
}

aside ul {
  list-style-type: none;
}

button,
.button {
  display: block;
  background-color: steelblue;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 1px solid whitesmoke;
  border-radius: 0;
  float: none;
  cursor: pointer;
}

.button-group {
  max-width: 870px;
  overflow: hidden;
}

.new-item {
  width: 160px;
  align-self: flex-end;
}

.items-container {
  display: flex;
  flex-direction: column;
}
