/* 
**************************************************** RESET ****************************************************
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* 
************ TYPOGRAPHY ************
*/

p {
  font-size: 16px;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h4 {
  font-size: 26px;
  margin-bottom: 15px;
}


/* 
************ FORMS ************
*/

label {
  display: block;
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 5px;
  margin-bottom: 30px;
}

input[type="submit"] {
  display: block;
  background-color: steelblue;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  float: right;
  cursor: pointer;
}

select {
  width: 200px;
  height: 40px;
  font-size: 16px;
}

input:disabled {
  background-color: lightgray;
  color: #444;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-group .form-control {
  flex-basis: 48%;
}


/* 
************ BUTTONS ************
*/

button,
.button {
  display: block;
  background-color: steelblue;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  float: right;
  cursor: pointer;
}

.small {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;

}

.delete {
  background-color: darkred;
  color: #fff;
}

.delete:hover {
  background-color: red;
  color: #fff;
}

/* 
************ TABLES ************
*/

table {
  background-color: whitesmoke;
  text-align: left;
  margin: 0 0 20px;
  border-collapse: collapse;
}

thead th {
  outline: none !important;
  background-color: #fff;
  padding-bottom: 10px;
}

td {
  text-align: left;
  padding: 15px 20px 15px 15px;
  outline: 1px solid #bbb;
}


/* 
************ MODAL ************
*/

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  padding: 5% 8% 60px;
}

.modal-body {
  background-color: whitesmoke;
  height: 100%;
  padding: 5%;
}

.modal-content {
  max-width: 600px;
  margin: 0 auto;
}

#closeModal {
  position: absolute;
  top: 2%;
  right: 5%;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
}

.continue-shopping {
  background-color: #444;
  margin-right: 20px;
}

/* 
**************************************************** NAVIGATION ****************************************************
*/

nav {
  background-color: rebeccapurple;
  width:100%;
  padding: 25px 5%;
  margin: 0 0 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0;
}

.active {
  border-bottom: 2px solid #fff;
}


/* 
**************************************************** MAIN CONTENT ****************************************************
*/

main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.full-width-content {
  width: 100%;
  max-width: 1510px;
  padding: 20px 5%;
  margin: 0 auto;
}

.hide {
  display: none;
}


/* 
**************************************************** MAIN CONTENT ****************************************************
*/

.message {
  display: block;
  width: 100%;
  padding: 20px;
  margin: -40px 0 40px;
}

.message-content {
  max-width: 1510px;
  margin: 0 auto;
}

.error {
  background-color: lightcoral;
}

.message-text {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}


/* 
******************************************************* PAGES *******************************************************
*/


/* 
************ STORE PAGE ************
*/

#items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  min-width: 280px;
  height: 400px;
  background-color: whitesmoke;
  padding: 40px;
  margin: 0 45px 40px 0;
  border: 1px solid #ddd;
}

.card img {
  display: block;
  margin: 0 auto;
}

.cart-buttons {
  align-self: center;
}

.cart-buttons button,
.cart-buttons a,
.cart-buttons span,
.checkout {
  display: block;
  background-color: rebeccapurple;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  float: right;
  cursor: pointer;
}

a.view-details {
  background-color: steelblue;
  margin-right: 20px;
  text-decoration: none;
}

span.out-of-stock {
  background-color: darkgray;
  color: whitesmoke;
  cursor: default;
}


/* 
************ SHOPPING CART PAGE ************
*/

.checkout {
  background-color: steelblue;
  text-decoration: none;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  background-color: whitesmoke;
  width: 86%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 40px 20px;
  margin: 0 auto;
  border-top: 2px solid #ddd;
}

.checkout-page .cart-item {
  padding: 10px 40px 10px;
}

.item-image {
  flex-basis: 30%;
  padding: 15px 0;
}

.item-image img {
  background-color: #fff;
  display: block;
  max-height: 140px;
  padding: 20px;
  margin: 0 auto;
}

.checkout-page .item-image img {
  background-color: #fff;
  display: block;
  max-height: 80px;
  padding: 20px;
  margin: 0 auto;
}

.item-info {
  flex-basis: 30%;
}

.checkout-page h4 {
  font-size: 18px;
}

.item-price {
  flex-basis: 20%;
}

.item-quantity {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  flex-basis: 27%;
}

.quantity-arrow {
  width: 18px;
  color: steelblue;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.quantity-text {
  display: block;
  width: 18px;
  text-align: center;
}

.item-delete {
  background-color: firebrick;
  flex-basis: 3%;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid lightcoral;
  border-radius: 6px;
  cursor: pointer;
}

.cart-checkout {
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 0 0;
  margin: 0 auto 0;
  border-top: 2px solid #ddd;
}


/* 
************ CHECKOUT PAGE ************
*/

.checkout-container {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 2px solid #ddd;
}

.cart-total {
  margin-bottom: 20px;
}

.checkout-page {
  display: flex;
  flex-direction: row;
}

.checkout-page h4 {
  text-align: center;
  margin-bottom: 40px;
}

.checkout-form-container {
  flex-basis: 80%;
  margin-right: 100px;
}

#address-select-container {
  width: 100%;
  margin-bottom: 40px;
}

.address-group,
.credit-card-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address-group .form-control {
  flex-basis: 30%;
}

.credit-card-group .form-control {
  flex-basis: 15%;
}

.credit-card-group .form-control:first-child {
  flex-basis: 60%;
}

.order-button {
  display: block;
  background-color: steelblue;
  width: 100%;
  color: #fff;
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  float: right;
  cursor: pointer;
}

.order-button:disabled {
  background-color: gray;
  color: #fff;
  cursor: default;
}

.create-account-container {
  margin-bottom: 20px;
}

.create-account-container label {
  display: inline;
  padding-right: 10px;
}

.create-account-container input[type="checkbox"] {
  font-size: 40px;
  margin-bottom: 20px;
}

.customer-information {
  margin-bottom: 40px;
}

.customer-data {
  margin-bottom: 5px;
}

.customer-data-name {
  margin-bottom: 10px;
}


/* 
**************************************************** FOOTER ****************************************************
*/

footer {
  background-color: rebeccapurple;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 40px 5%;
}


/* 
************************************************* MEDIA QUERIES *************************************************
*/
